


.container{
    margin-top: 20px;
    height: auto;
    box-sizing: border-box;
    margin-bottom: 50px;
}


.col-12{
    margin: auto;
    text-align: center;
}

.col, .col-12{
    padding: 8px;
    margin: auto;
    border: 1px solid black;

    border-right: 1px solid black;
}

.card{
    margin-top: 250px;
}

form{
    
    width: 500px;
    margin: auto;
}